#root {
  margin: 0 auto;
}

.button {
  @apply py-4 px-10 font-bold rounded-md border text-sm;

}

.primary-button {
  @apply bg-[#2DC071] text-white hover:bg-transparent hover:border-green-500 hover:text-green-500;
}

.secondary-button {
  @apply border-[#2DC071] text-[#2DC071];
}

.editor-button {
  @apply absolute bg-white mt-[434px] xl:ml-[31px] sm:ml-[11px] xl:w-[170px] xl:h-[48px] sm:w-[105px] sm:h-[28px] lg:w-[135px] lg:h-[36px] md:sm:w-[125px] md:h-[32px] w-[185px] h-[54px] z-10 font-bold xl:text-[16px] sm:text-[14px] lg:text-sm md:text-xs text-[14px] text-[#252B42];
}

.custom-box-shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.card-edit {
@apply  text-slate-800 font-semibold underline cursor-pointer
}

/* About page metrics Tailwind */

.metricsSection {
  @apply flex flex-col w-[20%] items-center;
}

.metrics {
  @apply text-slate-800 text-[58px] font-bold;
}

.metricsTitle {
  @apply text-center text-neutral-500 text-base font-bold;
}

/* Clients component Tailwind */
.vector {
  @apply p-1 text-[#737373] lg:text-8xl sm:text-3xl text-8xl md:text-5xl;
}

/* Paginations */
.pagination-link-first {
  background-color: #F3F3F3 !important;
  color: #BDBDBD !important;

}

.pagination-link-2 {
  background-color: #3490dc !important;
  border-color: #3490dc !important;
  color: #ffffff !important;
}


.paginations-1-3-Next {
  color: #23A6F0 !important;
}

.productIcon {
  @apply flex justify-center items-center rounded-full border border-[#E8E8E8] w-10;
}

.navBar-product {
  @apply text-[#737373] text-sm font-bold no-underline;
}

.product-h6 {
  @apply text-[#737373] w-[80%] text-sm font-normal leading-tight tracking-tight;
}

.quick-div {
  @apply flex items-center justify-start gap-4;
}

.quick-product {
  @apply text-neutral-500 text-sm font-bold leading-normal tracking-tight;
}


.form-input {
  @apply w-full p-3 border border-solid rounded-lg text-sm;
}

.form-label {
  @apply text-base font-medium text-gray-600 block;
}

.special-label {
  @apply text-base font-medium text-gray-600 block;
  transform: translateY(-0.5rem);
}

.form-error {
  @apply mt-1 ml-1 text-[10px] font-bold text-red-700;
}

/* Shop page, category card */
.category-card-image {
  width: 206px;
  height: 333px;
}

.dropdown-item {
  @apply inline-block hover:bg-[#f5f5f5] hover:text-[#23A6F0] px-4 py-2 !important;
}

.dropdown-toggle {
  @apply bg-white hover:text-[#23A6F0] !important;
}

.LiaBabyCarriage-icon {
  @apply font-normal !important;
}

.carousel-button {
  @apply hover:border-2 hover:text-white hover:border-white text-center primary-button w-[221px] h-[62px] text-[24px] font-bold bg-[#2DC071] rounded-[5px];
}

.unHoverTextColor {
  @apply hover:text-white !important;
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.hello {
  font-family: 'Pacifico', cursive;
}

.nav-link {
  @apply text-gray-900 visited:text-sky-500;
}
